.footer{
    background-color: #fff;
    height: 10%;
    padding: 10px;
}

a{
   color: #536471; 
    font-size: 0.8rem;
    margin-left: 1%;
   text-decoration: none;
}
a:hover{
    color: #536471;
}